@import "fonts";

.my_container {
    background-color: white;
    overflow: hidden;
}
.img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.img_900 {
    max-width: 100%;
    width: 900px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.img_784 {
    max-width: 100%;
    width: 784px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.img_1010 {
    max-width: 100%;
    width: 1010px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    position: relative;
    z-index: 2;
}
.img_10 {
    margin-top: -11%;
    position: relative;
    z-index: 1;
}
.text_title {
    width: 850px;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 26px;
    font-family: "Philosopher";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.text_content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    position: relative;
    font-family: "Inter Tight";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.group_image {
    // width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    img:first-child {
        position: initial;
    }
    // margin-bottom: 30px;
}
.group_image_928 {
    width: 928px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.group_image_963 {
    width: 960px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.group_image_1135 {
    width: 1135px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.group_image_1054 {
    width: 1054px;
    margin-bottom: 30px;
    margin-top: 50px;
    z-index: 2;
}

.img-des {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    position: relative;
    font-family: "Georama";
    font-weight: normal;
    font-style: normal;
    color: #888888;
}
.book_area {
    background-image: url("../images/bg_1.png");
    margin-top: -7%;
    padding-top: 7%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.book {
    width: 1073px;
    height: 740px;
    background-color: #888888;
    margin: 0 auto;
    box-shadow: 0px 15px 10px -15px #111;
    margin-bottom: 25px;
}

//---------------------img
.img_1176 {
    max-width: 100%;
    width: 1176px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: -22%;
    margin-bottom: 47px;
}

.img_185 {
    width: 185px;
}
.img_1275 {
    width: 1275px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.img_1000 {
    width: 1000px;
    margin-top: 40px;
    padding-bottom: 40px;
}
.img_4 {
    margin-top: -15%;
}
.img_3 {
    margin-top: -13%;
}
.img_6 {
    margin-top: -11%;
    margin-bottom: 0 !important;
}
.img_7 {
    margin-top: -12%;
}
.img_8 {
    margin-top: -12%;
    position: relative;
    z-index: 1;
}

////--------------------Text
.control-text {
    text-align: center;
    margin-bottom: 0 !important;
    // padding-bottom: 50px;
    color: white;
    font-family: "K2D";
    font-family: "K2D";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 15px;
    padding-bottom: 20px;
}

.group_text_3,
.group_text_5 {
    padding-top: 50px;
    position: relative;
}
.group_text_6 {
    padding-top: 22%;
}

.group_text_7 {
    padding-top: 50px;
}

// section 1
.section_1 {
    background-color: #fffef2;
}
.section_1_1 {
    background-image: url("../images/bg_2.png");
}
.section_1_line {
    background-color: #c4a548;
    height: 1px;
    width: 50%;
    text-align: center;
    margin: 20px auto;
}
.section_1_author {
    font-size: 25px;
    text-align: center;
}

.section_1_2 {
    background-image: url("../images/bg_3.png");
    background-repeat: no-repeat;
    background-position: top;
}
.none {
    display: none;
}

//section 2
.section_2_1 {
    background-color: #f9fbe7;
    background-image: url("../images/bg_4.png");
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: top;
}
.section_2_2 {
    // background-color: #eefffa;
    // background-image: url("../images/bg_5.png");
    // background-position: top;
    background: url("../images/bg_5.png") no-repeat center top;
    padding-top: 100px;
    margin-top: -22%;
    height: 500px;
    position: relative;
}
.section_2_3 {
    background-color: #eefffa;
    margin-top: -25%;
}
