@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D-Bold.eot");
  src: url("../fonts/K2D-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/K2D-Bold.woff2") format("woff2"), url("../fonts/K2D-Bold.woff") format("woff"), url("../fonts/K2D-Bold.ttf") format("truetype"), url("../fonts/K2D-Bold.svg#K2D-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D-Regular.eot");
  src: url("../fonts/K2D-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/K2D-Regular.woff2") format("woff2"), url("../fonts/K2D-Regular.woff") format("woff"), url("../fonts/K2D-Regular.ttf") format("truetype"), url("../fonts/K2D-Regular.svg#K2D-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D-Italic.eot");
  src: url("../fonts/K2D-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/K2D-Italic.woff2") format("woff2"), url("../fonts/K2D-Italic.woff") format("woff"), url("../fonts/K2D-Italic.ttf") format("truetype"), url("../fonts/K2D-Italic.svg#K2D-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Regular.eot");
  src: url("../fonts/Philosopher-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Philosopher-Regular.woff2") format("woff2"), url("../fonts/Philosopher-Regular.woff") format("woff"), url("../fonts/Philosopher-Regular.ttf") format("truetype"), url("../fonts/Philosopher-Regular.svg#Philosopher-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SFU Honeymoon";
  src: url("../fonts/SFUHoneymoon.eot");
  src: url("../fonts/SFUHoneymoon.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUHoneymoon.woff2") format("woff2"), url("../fonts/SFUHoneymoon.woff") format("woff"), url("../fonts/SFUHoneymoon.ttf") format("truetype"), url("../fonts/SFUHoneymoon.svg#SFUHoneymoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Inter Tight";
  src: url("../fontsInterTight-Regular.eot");
  src: url("../fontsInterTight-Regular.eot?#iefix") format("embedded-opentype"), url("../fontsInterTight-Regular.woff2") format("woff2"), url("InterTight-Regular.woff") format("woff"), url("../fontsInterTight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Inter";
  src: url("../fontsInter-Regular.eot");
  src: url("../fontsInter-Regular.eot?#iefix") format("embedded-opentype"), url("Inter-Regular.woff2") format("woff2"), url("../fontsInter-Regular.woff") format("woff"), url("Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Inter Tight";
  src: url("../fontsInterTight-Black.eot");
  src: url("../fontsInterTight-Black.eot?#iefix") format("embedded-opentype"), url("InterTight-Black.woff2") format("woff2"), url("../fontsInterTight-Black.woff") format("woff"), url("InterTight-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
.my_container {
  background-color: white;
  overflow: hidden; }

.img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }

.img_900 {
  max-width: 100%;
  width: 900px;
  height: auto;
  margin: 0 auto;
  display: block; }

.img_784 {
  max-width: 100%;
  width: 784px;
  height: auto;
  margin: 0 auto;
  display: block; }

.text_title {
  width: 850px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 26px;
  font-family: "Philosopher";
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.text_content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  position: relative;
  font-family: "Inter Tight";
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.group_image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px; }
  .group_image img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image img:first-child {
    position: initial; }

.group_image_928 {
  width: 928px;
  margin-bottom: 50px;
  margin-top: 50px; }

.group_image_963 {
  width: 960px;
  margin-bottom: 50px;
  margin-top: 50px; }

.group_image_1135 {
  width: 1135px;
  margin-bottom: 30px;
  margin-top: 50px; }

.img-des {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  position: relative;
  font-family: "Georama";
  font-weight: normal;
  font-style: normal;
  color: #888888; }

.book_area {
  background-image: url("../images/bg_1.png");
  margin-top: -7%;
  padding-top: 7%;
  background-position: bottom;
  background-repeat: no-repeat; }

.book {
  width: 1073px;
  height: 740px;
  background-color: #888888;
  margin: 0 auto;
  box-shadow: 0px 15px 10px -15px #111;
  margin-bottom: 25px; }

.img_1176 {
  max-width: 100%;
  width: 1176px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: -22%;
  margin-bottom: 47px; }

.img_185 {
  width: 185px; }

.img_1275 {
  width: 1275px;
  margin-top: 40px;
  margin-bottom: 40px; }

.img_4 {
  margin-top: -15%; }

.img_3 {
  margin-top: -13%; }

.control-text {
  text-align: center;
  margin-bottom: 0 !important;
  color: white;
  font-family: "K2D";
  font-family: "K2D";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 15px;
  padding-bottom: 20px; }

.group_text_3 {
  padding-top: 50px; }

.section_1 {
  background-color: #fffef2; }

.section_1_1 {
  background-image: url("../images/bg_2.png"); }

.section_1_line {
  background-color: #c4a548;
  height: 1px;
  width: 50%;
  text-align: center;
  margin: 20px auto; }

.section_1_author {
  font-size: 25px;
  text-align: center; }

.section_1_2 {
  background-image: url("../images/bg_3.png");
  background-repeat: no-repeat;
  background-position: top; }

.none {
  display: none; }

/*# sourceMappingURL=main.css.map */
