@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D-Bold.eot");
  src: url("../fonts/K2D-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/K2D-Bold.woff2") format("woff2"), url("../fonts/K2D-Bold.woff") format("woff"), url("../fonts/K2D-Bold.ttf") format("truetype"), url("../fonts/K2D-Bold.svg#K2D-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D-Regular.eot");
  src: url("../fonts/K2D-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/K2D-Regular.woff2") format("woff2"), url("../fonts/K2D-Regular.woff") format("woff"), url("../fonts/K2D-Regular.ttf") format("truetype"), url("../fonts/K2D-Regular.svg#K2D-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D-Italic.eot");
  src: url("../fonts/K2D-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/K2D-Italic.woff2") format("woff2"), url("../fonts/K2D-Italic.woff") format("woff"), url("../fonts/K2D-Italic.ttf") format("truetype"), url("../fonts/K2D-Italic.svg#K2D-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Regular.eot");
  src: url("../fonts/Philosopher-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Philosopher-Regular.woff2") format("woff2"), url("../fonts/Philosopher-Regular.woff") format("woff"), url("../fonts/Philosopher-Regular.ttf") format("truetype"), url("../fonts/Philosopher-Regular.svg#Philosopher-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SFU Honeymoon";
  src: url("../fonts/SFUHoneymoon.eot");
  src: url("../fonts/SFUHoneymoon.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUHoneymoon.woff2") format("woff2"), url("../fonts/SFUHoneymoon.woff") format("woff"), url("../fonts/SFUHoneymoon.ttf") format("truetype"), url("../fonts/SFUHoneymoon.svg#SFUHoneymoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Inter Tight";
  src: url("../fonts/InterTight-Regular.eot");
  src: url("../fonts/InterTight-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/InterTight-Regular.woff2") format("woff2"), url("../fonts/InterTight-Regular.woff") format("woff"), url("../fonts/InterTight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Inter Tight";
  src: url("../fonts/InterTight-Black.eot");
  src: url("../fonts/InterTight-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/InterTight-Black.woff2") format("woff2"), url("../fonts/InterTight-Black.woff") format("woff"), url("../fonts/InterTight-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
.my_container {
  background-color: white;
  overflow: hidden; }

.img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }

.img_900 {
  max-width: 100%;
  width: 900px;
  height: auto;
  margin: 0 auto;
  display: block; }

.img_784 {
  max-width: 100%;
  width: 784px;
  height: auto;
  margin: 0 auto;
  display: block; }

.img_1010 {
  max-width: 100%;
  width: 1010px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  position: relative;
  z-index: 2; }

.img_10 {
  margin-top: -11%;
  position: relative;
  z-index: 1; }

.text_title {
  width: 850px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 26px;
  font-family: "Philosopher";
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.text_content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  position: relative;
  font-family: "Inter Tight";
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.group_image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative; }
  .group_image img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image img:first-child {
    position: initial; }

.group_image_928 {
  width: 928px;
  margin-bottom: 50px;
  margin-top: 50px; }

.group_image_963 {
  width: 960px;
  margin-bottom: 50px;
  margin-top: 50px; }

.group_image_1135 {
  width: 1135px;
  margin-bottom: 30px;
  margin-top: 50px; }

.group_image_1054 {
  width: 1054px;
  margin-bottom: 30px;
  margin-top: 50px;
  z-index: 2; }

.group_image_1024 {
  width: 1052px;
  margin-bottom: 30px;
  margin-top: 50px;
  z-index: 2; }

.group_image_1366 {
  width: 1366px;
  margin-bottom: 30px;
  margin-top: 50px;
  z-index: 2; }

.group_image_1250 {
  width: 1250px;
  margin-bottom: 30px;
  margin-top: 50px;
  z-index: 2; }

.img-des {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  position: relative;
  font-family: "Georama";
  font-weight: normal;
  font-style: normal;
  color: #888888; }

.book_area {
  background-image: url("../images/bg_1.png");
  margin-top: -7%;
  padding-top: 7%;
  background-position: bottom;
  background-repeat: no-repeat; }

.book {
  width: 1073px;
  height: 740px;
  background-color: #888888;
  margin: 0 auto;
  box-shadow: 0px 15px 10px -15px #111;
  margin-bottom: 25px; }

.img_1176 {
  max-width: 100%;
  width: 1176px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: -22%;
  margin-bottom: 47px; }

.img_185 {
  width: 185px; }

.img_1275 {
  width: 1275px;
  margin-top: 40px; }

.img_1000 {
  width: 1000px;
  margin-top: 40px;
  padding-bottom: 40px; }

.img_1092 {
  width: 1092px;
  margin-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2; }

.img_1036 {
  width: 1036px;
  margin-top: -7%;
  padding-bottom: 40px;
  position: relative;
  z-index: 2; }

.img_450 {
  width: 450px;
  margin-top: 10px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-left: 40px; }

.img_4 {
  margin-top: -15%; }

.img_3 {
  margin-top: -13%; }

.img_6 {
  margin-top: -11%;
  margin-bottom: 0 !important; }

.img_7 {
  margin-top: -12%; }

.img_8 {
  margin-top: -12%;
  position: relative;
  z-index: 1; }

.img_12 {
  margin-top: -16%; }

.img_13 {
  margin-top: -32%; }

.img_15 {
  margin-top: -46%; }

.img_16 {
  margin-top: -32%; }

.img_17 {
  margin-top: -9%; }

.img_19 {
  margin-top: -2%; }

.img_22 {
  margin-top: -3%; }

.img_23 {
  margin-top: -12%; }

.control-text {
  text-align: center;
  margin-bottom: 0 !important;
  color: white;
  font-family: "K2D";
  font-family: "K2D";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 15px;
  padding-bottom: 20px; }

.group_text_3,
.group_text_5,
.group_text_8,
.group_text_9,
.group_text_10,
.group_text_12,
.group_text_15,
.group_text_2 {
  padding-top: 50px;
  position: relative;
  z-index: 2; }

.group_text_11 {
  margin-top: -2%; }

.group_text_6 {
  padding-top: 22%; }

.group_text_7 {
  padding-top: 50px; }

.section_1 {
  background-color: #fffef2; }

.section_1_1 {
  background-image: url("../images/bg_2.png"); }

.section_1_line {
  background-color: #c4a548;
  height: 1px;
  width: 50%;
  text-align: center;
  margin: 20px auto; }

.section_1_author {
  font-size: 25px;
  text-align: center;
  font-family: "Inter Tight";
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

.section_1_2 {
  background-image: url("../images/bg_3.png");
  background-repeat: no-repeat;
  background-position: top; }

.section_2_1 {
  background-color: #f9fbe7;
  background-image: url("../images/bg_4.png");
  background-repeat: no-repeat;
  padding-top: 50px;
  background-position: top; }

.section_2_2 {
  background: url("../images/bg_5.png") no-repeat center top;
  padding-top: 100px;
  margin-top: -22%;
  height: 500px;
  position: relative; }

.section_2_3 {
  background-color: #eefffa;
  margin-top: -25%; }

.section_3_1 {
  background: #f9fbe7 url("../images/bg_6.png") no-repeat center top; }

.section_3_3 {
  background: #f9fbe7 url("../images/bg_7.png") no-repeat center top; }

.section_4 {
  background: #f9fbe7; }

.text-image-group {
  padding-left: 95px;
  margin: 0 auto;
  width: 888px;
  max-width: 100%; }
  .text-image-group p {
    padding-right: 95px; }
  .text-image-group .right-side {
    float: right;
    width: 50%; }
  .text-image-group .text_content {
    width: 100%; }

.section_5_1 {
  background: url("../images/bg_8.png");
  margin-top: -5%; }

.div_radi {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #f9fbe7 50%); }

.section_5_1_1 {
  background: #f9fbe7; }

.author {
  position: relative;
  right: 0;
  bottom: 0;
  font-size: 18px;
  font-family: "Georama";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 85px;
  background: #bfdceb; }
  .author p {
    text-align: center;
    margin-bottom: 0; }
    .author p span {
      font-weight: bold; }

.menu_container {
  position: relative;
  z-index: 10;
  width: 900px;
  max-width: 100%;
  background: #edbb3c71;
  height: 77px;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 12px 14px;
  position: fixed;
  z-index: 10;
  transition: all 0.2s;
  bottom: -38px; }

.menu {
  font-size: 17px;
  font-family: "Inter Tight";
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 100%;
  background: #d0a84a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 3%; }
  .menu .img_icon {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    flex: 0 1 auto;
    margin-left: 30px; }
  .menu ul {
    user-select: none;
    flex-grow: 1;
    display: flex;
    justify-content: center; }
    .menu ul li {
      margin: 0 20px; }
    .menu ul li.active {
      font-size: 25px;
      font-weight: 900;
      font-style: normal;
      color: white;
      transition: all 0.4s; }
  .menu:hover {
    cursor: pointer; }

.ss {
  display: none; }

.ss.active_ss {
  display: block;
  animation: fade_in_show 1.5s; }

@keyframes fade_in_show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (min-width: 577px) {
  .mobile {
    display: none; } }
@media (max-width: 576px) {
  .text_content,
  .img-des {
    padding: 0 15px; }

  .text_title {
    padding: 0 15px; } }

/*# sourceMappingURL=main.css.map */
